<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="root">
        <h2>遍歷陣列</h2>
        <input type="text" placeholder="請輸入名字" v-model="keyword">
        <ul>
            <li v-for="(p,index) in filPersons" :key="index">
                {{p.name}}-{{p.age}}
            </li>
        </ul>
    </div>

</body>
<script>
    //用watch實現
    // new Vue({
    //     el: '#root',
    //     data: {
    //         keyword: '',
    //         persons: [
    //             { id: '001', name: '馬冬梅', age: 19, sex: '女' },
    //             { id: '002', name: '周冬雨', age: 20, sex: '女' },
    //             { id: '003', name: '周杰倫', age: 21, sex: '男' },
    //             { id: '004', name: '溫兆倫', age: 22, sex: '男' },
    //         ],
    //         filPersons: []
    //     },
    //     watch: {
    //         keyword: {
    //             immediate: true,
    //             handler(val) {
    //                 this.filPersons = this.persons.filter((p) => {
    //                     return p.name.indexOf(val) !== -1
    //                 })
    //             }
    //         }
    //     }

    // })

    //用computed實現
    new Vue({
        el: '#root',
        data: {
            keyword: '',
            persons: [
                { id: '001', name: '馬冬梅', age: 19, sex: '女' },
                { id: '002', name: '周冬雨', age: 20, sex: '女' },
                { id: '003', name: '周杰倫', age: 21, sex: '男' },
                { id: '004', name: '溫兆倫', age: 22, sex: '男' },
            ],
            
        },
        computed:{
            filPersons(){
                return this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyword) !== -1;
                })
            }
        }

    })




</script>

</html>